In [1]:
print("Hello Hi")

Hello Hi

In [21]:
# Add 2 numbers using Python

a = int(10.9)
b = int(20)
c = a + b

print(c)

30

In [22]:
print(a)

10

In [15]:
print(type(a),type(b),type(c))

<class 'int'> <class 'int'> <class 'int'>

In [16]:
amount = a + b + c

In [17]:
print(amount)

60

In [18]:
print(type(amount))

<class 'int'>

In [ ]:
#include <stdio.h>

int main() {
    int num1, num2, sum;

    // Input two numbers from user
    printf("Enter two numbers: ");
    scanf("%d %d", &num1, &num2);

    // Add two numbers
    sum = num1 + num2;

    // Display the result
    printf("Sum = %d\n", sum);

    return 0;
}

In [5]:
s = "     Raghav.   "

In [6]:
len(s)

15

In [15]:
list1 = ["Raghav",         '   Raghav',21, 22,  21,  34,45,34,67,  67,  89.99]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1125169699.py, line 1)

In [10]:
print(list1)

['Raghav', '   Raghav', 21, 22, 21, 34, 45, 34, 67, 67, 89.99]

In [11]:
set1 = set(list1)

In [12]:
set1

{'   Raghav', 21, 22, 34, 45, 67, 89.99, 'Raghav'}

In [14]:
set2 = {1,2,2,2,2,2,2,3,4,5,6,23,7,55}

In [16]:
# Lists : They are data structure in python which is ordered, multable and it allows repetition

In [ ]:
Response_1 = ["Raghav","Raghav"]

In [17]:
list1

['Raghav', '   Raghav', 21, 22, 21, 34, 45, 34, 67, 67, 89.99]

In [24]:
list1[1] = 999999

In [25]:
list1

['Raghav', 999999, 21, 22, 21, 34, 45, 34, 67, 67, 89.99]

In [21]:
tuple1 = ('Raghav', '   Raghav', 21, 22, 21, 34, 45, 34, 67, 67, 89.99)

In [22]:
print(type(tuple1))

<class 'tuple'>

In [27]:
tuple1[1] # DICING the Iterable

'   Raghav'

In [26]:
tuple1[1] = 99999999

TypeError: 'tuple' object does not support item assignment

In [28]:
list1

['Raghav', 999999, 21, 22, 21, 34, 45, 34, 67, 67, 89.99]

In [ ]:
# Now we want to slice these elements from the list : "999999, 21, 22, 21"

In [ ]:
# syntax = Identifier[ Index of fist elemtns to be sliced : Index of the last eement to be sliced + 1]

In [31]:
list1[1:4]

[999999, 21, 22]

In [32]:
list1[1:5]

[999999, 21, 22, 21]

In [33]:
tuple1[1:5]

('   Raghav', 21, 22, 21)

In [35]:
list1[1:5] = [55]

In [36]:
list1

['Raghav', 55, 34, 45, 34, 67, 67, 89.99]

In [38]:
# Dictorary

In [ ]:
# Is another data structure which works in KEY VALUE PAIRS

In [39]:
dict1 = {
    
    "Key":"Value",
    "Name":"Raghav",
    "Age" :33,
    "Country" : "India",
    "Gender" : "Male"
}

In [40]:
print(type(dict1))

<class 'dict'>

In [41]:
print(dict1)

{'Key': 'Value', 'Name': 'Raghav', 'Age': 33, 'Country': 'India', 'Gender': 'Male'}

In [59]:
dict2 = {
    
    "Name" :["Raghav","Anuj", "Mafizur","Rima"],
    "Age" :[33,30,28,27],
    "Gender":["M","M","M","F"]
}

In [60]:
print(dict2)

{'Name': ['Raghav', 'Anuj', 'Mafizur', 'Rima'], 'Age': [33, 30, 28, 27], 'Gender': ['M', 'M', 'M', 'F']}

In [61]:
# Data Prep for analyisis

In [71]:
# Pandas Library is based on C and uses Array as the data type

import pandas

df = pandas.DataFrame(dict2)

In [72]:
df

      Name  Age Gender
0   Raghav   33      M
1     Anuj   30      M
2  Mafizur   28      M
3     Rima   27      F

In [73]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [49]:
dict2["Age"][1] = 32

In [50]:
dict2

{'Name': ['Raghav', 'Anuj', 'Mafizur', 'Rima'],
 'Age': [33, 32, 28, 27],
 'Gender': ['M', 'M', 'M', 'F']}

In [51]:
# Adding a key value pair

dict2["Country"] = "India"

In [52]:
dict2

{'Name': ['Raghav', 'Anuj', 'Mafizur', 'Rima'],
 'Age': [33, 32, 28, 27],
 'Gender': ['M', 'M', 'M', 'F'],
 'Country': 'India'}

In [64]:
list3 = [1,2,3,4]

In [65]:
# Now to the above list i want to add an emelent

# USE APPEND

list3.append("Raghav")

In [66]:
list3

[1, 2, 3, 4, 'Raghav']

In [67]:
list4 = [34,56,67,[67,78,89]]

In [68]:
list4

[34, 56, 67, [67, 78, 89]]

In [69]:
dict3 = {
    
    "Key" : list4
}

In [70]:
dict3

{'Key': [34, 56, 67, [67, 78, 89]]}

# Data Types

In [ ]:
x = 34 ; y = 67.89 ; z = True
print('x = ', x, '\ty = ', y, '\tz = ', z)

In [ ]:
print('Type of \nx = ', type(x), '\ty = ', type(y), '\tz = ', type(z))

In [ ]:
var = 'abc'
print('var = ', var)
print('type of var ', type(var))

## Data Type Conversion
Data type conversion in Python refers to the process of converting a value from one data type to another.

In [74]:
x = 45.77
int(x)

45

In [75]:
str(x)

'45.77'

In [ ]:
# If we are typecasting any number to boolean which is NOT ZERO, its value will be 1.
# Only for ZERO it will be false.

In [ ]:
bool(x)

True

In [76]:
bool(-9)

True

In [77]:
bool(0)

False

In [78]:
bool("r")

True

In [79]:
y = '45.88'

In [80]:
print(type(y))

<class 'str'>

In [81]:
int(y)

ValueError: invalid literal for int() with base 10: '45.88'

In [82]:
float(y)

45.88

In [83]:
z = "45"

In [84]:
float(z)

45.0

In [85]:
int(float(y))

45

In [86]:
# Dynamic input

Dynamic_input = input("Please enter your first name :")

Please enter your first name :Raghav

In [87]:
print(Dynamic_input)

Raghav

In [88]:
print(type(Dynamic_input))

<class 'str'>

In [89]:

Dynamic_input2 = input("Please enter your AGE :")

Please enter your AGE :33

In [90]:
print(Dynamic_input2)

33

In [91]:
print(type(Dynamic_input2))

<class 'str'>

In [96]:
Dynamic_input3 = int(input("Please enter your AGE :"))

Please enter your AGE :33

In [97]:
print(type(Dynamic_input3))

<class 'int'>

## Checking References
Checking references in Python involves determining whether two variables reference the same object in memory using the id() function.

In [112]:
a1 = 45
print(id(a1))

4298671728

In [107]:
b1 = 45.0
print(id(b1))

5807349264

In [ ]:
x = 34
y = x
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  34 ;  id of x =  140563811108112
y =  34 ;  id of y =  140563811108112

In [ ]:
x = 65
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  65 ;  id of x =  140563811109104
y =  34 ;  id of y =  140563811108112

In [ ]:
y = 78
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  65 ;  id of x =  140563811109104
y =  78 ;  id of y =  140563811109520

# Arithmetic Operators

In [ ]:
x = 50
y = 4

In [ ]:
print('Sum of x & y                   : ', x + y)
print('Difference between x & y       : ', x - y)
print('Product of x & y               : ', x * y)
print('Division of x by y             : ', x / y)

Sum of x & y                   :  54
Difference between x & y       :  46
Product of x & y               :  200
Division of x by y             :  12.5

In [ ]:
print('Remainder of x divided by y    : ', x % y)
print('Floor Division x divided by y  : ', x // y)
print('Exponential value for x raised to power y : ', x ** y)

Remainder of x divided by y    :  2
Floor Division x divided by y  :  12
Exponential value for x raised to power y :  6250000

# Arithmetic Assignment Operators

In [116]:
a = 10
print('Present value of a = ', a )

Present value of a =  10

In [ ]:
# a = a +5
a += 5
print('Updated value of a = ', a )

Updated value of a =  15

In [ ]:
a = 10
print('Present value of a = ', a )
print('Present id of a = ', id(a))

Present value of a =  10
Present id of a =  140563811107344

In [117]:
a **= 15
print('Updated value of a = ', a )
print('Updated id of a = ', id(a))

Updated value of a =  1000000000000000
Updated id of a =  4402909648

# Comparison Operator - Boolean output

In [ ]:
a = 20
b = 20

# Equal to

print('a = ', a, '  b = ', b)
print('a == b  : ', a == b)

a =  20   b =  20
a == b  :  True

In [ ]:
# Single "=" is for assignment and "==" is for comparison

In [ ]:
a = 20
b = 30

# Not equal to

print('a = ', a, '  b = ', b)
print('a != b  : ', a != b)

a =  20   b =  30
a != b  :  True

In [118]:
a = 40
b = 30

# less than to

print('a = ', a, '  b = ', b)
print('a <= b  : ', a < b)

a =  40   b =  30
a <= b  :  False

In [ ]:
a = 40
b = 30

# less than equal to

print('a = ', a, '  b = ', b)
print('a <= b  : ', a <= b)

a =  40   b =  30
a <= b  :  False

In [119]:
a = 30
b = 30

# Greater than to

print('a = ', a, '  b = ', b)
print('a >= b  : ', a > b)

a =  30   b =  30
a >= b  :  False

In [ ]:
a = 30
b = 30

# Greater than equal to

print('a = ', a, '  b = ', b)
print('a >= b  : ', a >= b)

a =  30   b =  30
a >= b  :  True

In [ ]:
#  ** (exponential), * (multiplication), / (division), + (addition), - (subtraction).

# PEMDAS

# Parentheses
# Exponentiation
# Multiplication and Division (from left to right)
# Addition and Subtraction (from left to right)

In [120]:
s1 = "Raghav"
s2 = "Raghav"

In [121]:
s1==s2

True

In [122]:
s1 != s2

False

In [123]:
s3 = "abc"
s4 = 'axy'

In [124]:
s3 > s4

False

In [128]:
s5 = "ABc"
s6 = 'Abc'

In [129]:
s6 < s5

False

# Logical Operators

In [ ]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b            : ', a < b) # False
print('a == b           : ', a == b) # True

a =  30   b =  30
a < b            :  False
a == b           :  True

In [ ]:
print('a < b and a == b : ', a < b and a == b)

a < b and a == b :  False

In [ ]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b           : ', a < b)
print('a == b          : ', a == b)

a =  30   b =  30
a < b           :  False
a == b          :  True

In [ ]:
print('a < b or a == b : ', a < b or a == b)

a < b or a == b :  True

In [ ]:
a = 40
print('a = ', a)
print('a < 50      : ' , a < 50 )

a =  40
a < 50      :  True

In [ ]:
print('not a < 50  : ' , not(a < 50))

not a < 50  :  False

In [133]:
# Bitwise XOR

a = 6  # 110
b = 3  # 011

xor = a ^ b # 101

print(xor)

5

# Miscellaneous Operators

### Identity Operators

In [137]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']

In [135]:
id(a)

5808022592

In [136]:
id(b)

5808360960

In [138]:
print('a is b' , a is b)

a is b False

In [141]:
a1 = ['a', 'b', 'c']
b1 =  a1

In [142]:
id(a1) == id(b1)

True

In [144]:
a1[1] = 'bb'

In [145]:
a1

['a', 'bb', 'c']

In [146]:
b1

['a', 'bb', 'c']

## Creating copy of a list

#### Method 1

In [147]:
b11 = list(a1)

In [148]:
id(b11)

5808290112

In [149]:
id(a1)

5807952320

### Method 2

In [150]:
b111 = a1.copy()

In [151]:
print(b111, id(b111))

['a', 'bb', 'c'] 5808013952

In [152]:
a1

['a', 'bb', 'c']

In [153]:
a1[0] = "Raghav"

In [154]:
print(a1)

['Raghav', 'bb', 'c']

In [155]:
print(b111)

['a', 'bb', 'c']

In [ ]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
print('a is not b' , a is not b)

a is not b True

### Membership Operators

In [156]:
x = 'a' # String
y = 'Dictionary' # String
print(x in y)

True

In [157]:
x = 'a'
y = 'Dictionary'
print(x , ' in "', y, '"')
print( x not in y)

a  in " Dictionary "
False

In [158]:
x = 'ary' # String
y = 'Dictionary' # String
print(x in y)

True

In [159]:
x = 'Day' # String
y = 'Dictionary' # String
print(x in y)

False

In [172]:
a = [20, 45, [10]] # List
[10] in a # Integer in a list

False

In [171]:
a = [20, 45, 10]
10 not in a

False

In [175]:
# List inside a list - Nested List

a_list = [1,2,3,[4,5,[6,7,8]]]

In [177]:
print(a_list)

[1, 2, 3, [4, 5, [6, 7, 8]]]

In [180]:
a_list[3][2][2]

8

In [181]:
matrix = [
    
    [1,2,3], # row1
    [4,5,6], # row2
    [7,8,9]  # row3
]

In [183]:
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [184]:
df1 = pd.DataFrame(matrix)

In [185]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# Strings in Python

In [186]:
message_1 = 'Hi! Welcome to Python Programming!!'
message_2 = "Hi! Welcome to Python Programming!!"
print(message_1)
print(message_2)

Hi! Welcome to Python Programming!!
Hi! Welcome to Python Programming!!

In [ ]:
message_1 = 'Hi! Welcome to "Python Programming"!!'
message_2 = "Hi! Welcome to 'Python Programming'!!"
print(message_1)
print(message_2)

Hi! Welcome to "Python Programming"!!
Hi! Welcome to 'Python Programming'!!

# String Methods

In [187]:
string = 'She seLLs sEa SHELLS oN tHe SeA sHoRe.'
upper_case = string.upper()
print(upper_case)

SHE SELLS SEA SHELLS ON THE SEA SHORE.

In [ ]:
lower_case = string.lower()
print(lower_case)

she sells sea shells on the sea shore.

In [ ]:
sentence = string.capitalize()
print(sentence)

She sells sea shells on the sea shore.

In [ ]:
word_upper = string.title()
word_upper

'She Sells Sea Shells On The Sea Shore.'

In [191]:
string11 = "12gdhsj19.9"

In [192]:
a = string11.upper()

In [193]:
a

'12GDHSJ19.9'