## if statement

In [11]:
a = int(input("enter the number:"))
b = int(input("enter the number:"))

enter the number:10
enter the number:2

In [12]:
# Only If Statement

if a > b :
    
    print("Awesome")

Awesome

In [13]:
# IF-Else statements

if a > b :
    
    print("Aaww")
    print("Same indent")
    print("Incorrect Indent") 
    
else:
    
    print("Haww")

Aaww
Same indent
Incorrect Indent

In [ ]:
# Some more examples

In [17]:
inp = input('Enter Nationality : ')

Enter Nationality : French

In [18]:
if inp == "French":
    
    print('Préférez vous parler français ?')


print('Thank You!!')

Préférez vous parler français ?
Thank You!!

In [20]:
inp = input('Enter Nationality : ')

if inp == "French":
    print('Préférez vous parler français ?')
    
else:
    print("You are not a french citizen")

print('Thank You!!')

Enter Nationality : French
Préférez vous parler français ?
Thank You!!

## if else

In [ ]:
num = int(input('Enter a number : '))

In [ ]:
if num > 0 :
    print(num, ' is a positve number')
else :
    print(num, ' is a negative number')

## if elif

In [22]:
# Prompt the user to enter their nationality
marks =  float(input('Please enter marks : '))
if marks >=90 :
    print('Grade A')
# elif marks >=75 :
#     print('Grade B')
# elif marks >= 55 :
#     print('Grade C')
# elif marks >= 35 :
#     print('Grade D')
else :
    print('Grade F')
print('Thank you !!')

Please enter marks : 90
Grade A
Thank you !!

In [24]:
# Prompt the user to enter their nationality
marks =  float(input('Please enter marks : '))
if marks >=90 :
    print('Grade A')
elif marks >=75 :
    print('Grade B')
elif marks >= 55 :
    print('Grade C')
elif marks >= 35 :
    print('Grade D')
else :
    print('Grade F')
print('Thank you !!')

Please enter marks : 78
Grade B
Thank you !!

## Nested if

In [ ]:
# if:
#     if:
#         if:
#             if:
#                 if:
                
#                 else:
                    
#             else:
                
#         else:
            
#     else:
        
# else

In [3]:
a = int(input('Enter a number :'))

b = int(input('Enter a number :'))

c = int(input('Enter a number :'))

Enter a number :44
Enter a number :55
Enter a number :22

In [4]:
if (a > b): # 44 > 55
    
    if (a > c): # 33 > 11
        
        print('a (', a, ') is greatest')
        
    else :
        
        print('c (', c, ') is greatest')
        
else :
    
    if (b > c): # 55 > 22
        
        print('b (', b, ') is greatest')
        
    else :
        
        print('c (', c, ') is greatest')

b ( 55 ) is greatest

In [ ]:
# WAP to print the greatest of 3 numbers inputted by the user using if-else-elif

In [25]:
a = int(input('Enter a number :'))

b = int(input('Enter a number :'))

c = int(input('Enter a number :'))

if(a > b and a > c):
    
    print("Greatest is a", a)
    
elif(b > a and b > c):
    
    print("Greatest is b", b)
    
else:
    print("Greatest is c", c)

Enter a number :55
Enter a number :66
Enter a number :77
Greatest is c 77

# Loops

## for loop - It works on an iterable - Aggregated Data Type

In [ ]:
# Syntax --> for var in Iterable( String/ Array/ List/ Tuple/ Dict/ Series/ DataFrame):
#                     Action()

In [26]:
string1 = "hdhdshjdsjldsjkdskjdlsjkdjs"

In [31]:
for blabla in string1:
    

    print("pointer blabla on :", blabla, "now incrementing forward")

pointer blabla on : h now incrementing forward
pointer blabla on : d now incrementing forward
pointer blabla on : h now incrementing forward
pointer blabla on : d now incrementing forward
pointer blabla on : s now incrementing forward
pointer blabla on : h now incrementing forward
pointer blabla on : j now incrementing forward
pointer blabla on : d now incrementing forward
pointer blabla on : s now incrementing forward
pointer blabla on : j now incrementing forward
pointer blabla on : l now incrementing forward
pointer blabla on : d now incrementing forward
pointer blabla on : s now incrementing forward
pointer blabla on : j now incrementing forward
pointer blabla on : k now incrementing forward
pointer blabla on : d now incrementing forward
pointer blabla on : s now incrementing forward
pointer blabla on : k now incrementing forward
pointer blabla on : j now incrementing forward
pointer blabla on : d now incrementing forward
pointer blabla on : l now incrementing forward
pointer blabla on : s now incrementing forward
pointer blabla on : j now incrementing forward
pointer blabla on : k now incrementing forward
pointer blabla on : d now incrementing forward
pointer blabla on : j now incrementing forward
pointer blabla on : s now incrementing forward

In [53]:
string = 'Python'

for s in string:
    print(s)
    print('Thank You!!')
    
# Print a thank you message regardless of any thing
print('Thank You!!')

P
Thank You!!
y
Thank You!!
t
Thank You!!
h
Thank You!!
o
Thank You!!
n
Thank You!!
Thank You!!

### Output Explanation
The output of this cell is:
```
P
y
t
h
o
n
Thank You!!

```

In [6]:
string = 'Python'
for s in string:
    print(s)
    print('Thank You!!')

P
Thank You!!
y
Thank You!!
t
Thank You!!
h
Thank You!!
o
Thank You!!
n
Thank You!!

In [32]:
# Suppose we have to convert every char of a string into uppercase

string = "Python"

Cap_string = "" # Initializing the empty string

for t in string:
    
    Cap_string = Cap_string + t.upper()
    
    print(Cap_string)

P
PY
PYT
PYTH
PYTHO
PYTHON

In [57]:
# Create a list of numbers and then squaare each numbers inside a list and store it in a new list

list1 = [1,2,3,4,5,6]

Sq_Num = []

for i in list1:
    
    Sq_Num.append(i**2)
    print(Sq_Num)
    
print(Sq_Num)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36]

In [7]:
list1 = [1,2,3,4,5,6]

for i in list1:
    print(i)
    print('Thank You!!')

1
Thank You!!
2
Thank You!!
3
Thank You!!
4
Thank You!!
5
Thank You!!
6
Thank You!!

In [36]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for i in numbers:
    
    if i % 2 == 0:
        
        print("Even",i)
        
    else:
        print("Odd",i)

Odd 1
Even 2
Odd 3
Even 4
Odd 5
Even 6
Odd 7
Even 8
Odd 9
Even 10

In [69]:
n = int(input("Enter the number for factorial"))

fact=1

for i in range(1,n+1): # The range part will give us the sequence of numbers from 1 to 5 ie 1,2,3,4,5
    fact=fact*i
    print("Updated Value of fact : " ,fact)

Enter the number for factorial7
Updated Value of fact :  1
Updated Value of fact :  2
Updated Value of fact :  6
Updated Value of fact :  24
Updated Value of fact :  120
Updated Value of fact :  720
Updated Value of fact :  5040

In [72]:
# WAP where i can find the sum of numbers till that number which user enters.

n = int(input("Enter the number for sum :-"))

sum1=0


for i in range(0,n+1): # The range part will give us the sequence of numbers from 1 to 5 ie 1,2,3,4,5
    sum1=sum1+i
    print("Updated Value of sum : " ,sum1)

Enter the number for sum :-8
Updated Value of sum :  0
Updated Value of sum :  1
Updated Value of sum :  3
Updated Value of sum :  6
Updated Value of sum :  10
Updated Value of sum :  15
Updated Value of sum :  21
Updated Value of sum :  28
Updated Value of sum :  36

# For loops are also called as BOUNDED LOOPS, because they always work in a bound or Range

## while loop

In [ ]:
# In the below example we are trying to print a string 5 times

In [76]:
counter = 0                                               # 1. Initialize te While Loop

string = "Raghav"

while counter < 5:                                        # 2. Condition to be checked / Stoping condition
    
    print("Counter Value : ",counter, "--", string)       # 3. Action to be performed
    
    counter += 1                                          # 4. Increment

print('Thank You!!')

Counter Value :  0 -- Raghav
Counter Value :  1 -- Raghav
Counter Value :  2 -- Raghav
Counter Value :  3 -- Raghav
Counter Value :  4 -- Raghav
Thank You!!

In [80]:
counter = 5                                               # 1. Initialize te While Loop

string = "Raghav"

while counter > 0:                                        # 2. Condition to be checked / Stoping condition
    
    print("Counter Value : ",counter, "--", string)       # 3. Action to be performed
    
    counter -= 1                                          # 4. Decrement

print('Thank You!!')

Counter Value :  5 -- Raghav
Counter Value :  4 -- Raghav
Counter Value :  3 -- Raghav
Counter Value :  2 -- Raghav
Counter Value :  1 -- Raghav
Thank You!!

##### while loop never executed

In [81]:
counter = 5
while counter < 5: # This condition will always be false
    print(counter)
    counter += 1
print('Thank you')

Thank you

### Output Explanation
The output of this cell is:
```
Thank you

```

##### Infinite while loop

In [1]:
# counter = 0
# while counter < 5:
#     print(counter)
#     print('Thank you')

In [82]:
# We have to compute the square of numbers in a list using while loop

numbers = [1,2,3,4,5,6,7,8,9,10]

len(numbers)

10

In [83]:
sq_num = []

counter = 0

while counter < len(numbers):
    
    sq_num.append(numbers[counter] ** 2)
    
    counter = counter + 1
    
    print(sq_num)

print("List with Squared Numbers is : " , sq_num)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
List with Squared Numbers is :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Range function

#### range(n)

In [84]:
# range(n) --> This will create a sequence of numbers starting from 0 all the way till n - 1

obj = range(10) 
print(obj)

range(0, 10)

In [15]:
print(list(obj))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### range(start, stop)

In [86]:
obj = range(3, 99)
print(list(obj))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]

#### Step in range

In [87]:
obj = range(3, 99, 2)
print(list(obj))

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97]

## Nested Loops

In [21]:
print("Hello \t world")

Hello 	 world

In [88]:
# outer loop
for j in range(2,6):
    print('Table of :', j)
    # inner loop
    for i in range(1,11):
        # print multiplication
        print('{} X {} = {}'.format(j,i, j*i))
    print('\nEnd of multiplication table of ', j, '\n')
print('Thank You')

Table of : 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

End of multiplication table of  2

Table of : 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

End of multiplication table of  3

Table of : 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

End of multiplication table of  4

Table of : 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

End of multiplication table of  5

Thank You

In [90]:
n = 10

for i in range(1, n+1):
    for j in range(1, i+1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

## Loop Control Statements

In [91]:
for s in 'Python':
    
    if s == 't':
        
        break
        
    print(s)
    
print('End of Loop')

P
y
End of Loop

In [92]:
for s in 'Python':
    
    if s == 't':
        
        continue
        
    print(s)
    
print('End of Loop')

P
y
h
o
n
End of Loop

In [100]:
i = 1

while i <= 10:
    if i == 6:
        print("Breaking at i", i)
        break
    print(i)
    i = i + 1

1
2
3
4
5
Breaking at i 6

In [101]:
i = 1

while i <= 10:
    if i == 6:
        print("Skipping at i", i)
        i = i + 1
        continue
    print(i)
    i = i + 1

1
2
3
4
5
Skipping at i 6
7
8
9
10

## Loop Else Statements

In [102]:
for i in range(2):
    
    if i == 3:
        break
else:
    print("This will only execute if the loop runs without breaking")

This will only execute if the loop runs without breaking

In [46]:
for i in range(5):
    
    food = input('Enter edible item :')
    
    if food == 'spam':
        
        print('No more spam please !!')
        
        break
        
    print('Great Delicious')
    
else:
    print('I am so glad !! No Spam')
    
print('Finally finshed stuffing myself!!')

Enter edible item :spam
No more spam please !!
Finally finshed stuffing myself!!

In [103]:
for i in range(5):
    
    food = input('Enter edible item :')
    
    if food == 'spam':
        
        print('No more spam please !!')
        
        break
        
    print('Great Delicious')
    
else:
    print('I am so glad !! No Spam')
    
print('Finally finshed stuffing myself!!')

Enter edible item :gdfgd
Great Delicious
Enter edible item :hhd
Great Delicious
Enter edible item :bdhd
Great Delicious
Enter edible item :gdhs
Great Delicious
Enter edible item :8977
Great Delicious
I am so glad !! No Spam
Finally finshed stuffing myself!!

In [ ]:
# ELSE is with FOR - FOR ELSE

In [ ]:
for i in range(5):
    food = input('Enter edible item :')
    if food == 'spam':
        print('No more spam please !!')
        break
    print('Great Delicious ')
else :
    print('I am so glad !! No Spam')
print('Finally finshed stuffing myself!!')