# Functions

In [1]:
# WAP to add 4 number in python using function

def adder(a,b,c,d):
    
    z = a+b+c+d
    print(z)
    
    # a,b,c,d are Parametres

In [2]:
adder(4,5,6,8) # 4,5,6,8 are called as Arguments

84

In [4]:
# Function Definition

def greetings(name, greeting):
    
    print(greeting ,'! ', name, sep = '')

In [8]:
# Function call

greetings('Raghav', 'Hola')

Hola! Raghav

### Positional Argument

In [9]:
greetings('Hello', 'John')

John! Hello

In [10]:
help(greetings)

Help on function greetings in module __main__:

greetings(name, greeting)

In [12]:
help(adder)

Help on function adder in module __main__:

adder(a, b, c, d)

In [11]:
greetings('John', 'Hello')

Hello! John

### Keyword Arguments

In [13]:
greetings(greeting = 'Hello', name = 'John')

Hello! John

In [14]:
greetings(name = 'John', greeting = 'Hello')

Hello! John

### Parameters with Default Value

In [15]:
def greetings(name, greeting):
    print(greeting ,'! ', name, sep = '')

In [16]:
greetings('John')

TypeError: greetings() missing 1 required positional argument: 'greeting'

In [17]:
def greetings(name, greeting = 'Hello'):
    print(greeting ,'! ', name, sep = '')

In [18]:
greetings('John')

Hello! John

In [ ]:
# If we want to over write the default

In [19]:
greetings('John', 'Hi')

Hi! John

In [20]:
def greetings(name = "Python", greeting = 'Hello'):
    print(greeting ,'! ', name, sep = '')

In [21]:
greetings()

Hello! Python

In [23]:
greetings(name = "Raghav")

Hello! Raghav

In [24]:
greetings(greeting="HOLA")

HOLA! Python

In [25]:
greetings(name = "Raghav",greeting="HOLA")

HOLA! Raghav

In [26]:
greetings(greeting="HOLA",name = "Raghav")

HOLA! Raghav

### Arbitrary Arguments

In [27]:
adder(1,2,3,4,5,6,7,8,9,10)

TypeError: adder() takes 4 positional arguments but 10 were given

#### Non Keyword Arbitrary Argument

In [28]:
# function defined with non keyword variable no. of arguments

def total(*k):
    tot = 0
    for n in k:
        tot += n
    print(tot)

In [29]:
total(23, 67)

90

In [30]:
total(90, 100, 10, 30, 40)

270

In [31]:
total(1,2,3,4,5,6,7,8,9,10)

55

#### Keyword Arbitrary Argument

In [32]:
dict1 = {
    
    "Name" : "Raghav",
    "Country" : "India"
}

In [33]:
dict1.keys()

dict_keys(['Name', 'Country'])

In [34]:
dict1["Name"]

'Raghav'

In [37]:
# function defined with variable no. keyword variable no. of arguments
def information(**kwargs):
    
    for key in kwargs.keys():
        
        print(key, ":", kwargs[key])

In [38]:
information(name = 'John Davis', age = 34)

name : John Davis
age : 34

In [39]:
information(name = 'John Davis', age = 34, city = 'London', country  = 'UK')

name : John Davis
age : 34
city : London
country : UK

# Fruitful and Void Functions

### Fruitful functions are those which RETURNS us some value. Which means that the vlaue which is returened will have a memory allocated to it

### Void function is a function which will return us a value but it will not have any memeory allocated to it. It will just be a display of the output.

## Return statement

In [40]:
def net_amount(Amount, tax= 18, discount = 10):
    disc = (Amount * discount/100)
    tax_amnt = (Amount - disc) * tax/100
    net = (Amount - disc) + tax_amnt
    print(round(net,2))

In [41]:
amnt = float(input('Please enter the bill amount '))
tax = float(input('Please enter tax percentage :'))
discount = float(input('Please enter discount percentage :'))

Please enter the bill amount 5000
Please enter tax percentage :18
Please enter discount percentage :10

In [42]:
return_value = net_amount(amnt, tax, discount)

5310.0

In [43]:
a = return_value + 1000

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [ ]:
print(return_value)

None

In [44]:
def net_amount(Amount, tax= 18, discount = 10):
    disc = (Amount * discount/100)
    tax_amnt = (Amount - disc) * tax/100
    net = (Amount - disc) + tax_amnt
    return net

In [45]:
amnt = float(input('Please enter the bill amount '))
tax = float(input('Please enter tax percentage :'))
discount = float(input('Please enter discount percentage :'))

Please enter the bill amount 50000
Please enter tax percentage :18
Please enter discount percentage :9

In [46]:
return_value = net_amount(amnt, tax, discount)

In [47]:
print('Total Amount to be paid : ', return_value)

Total Amount to be paid :  53690.0

In [48]:
a = return_value + 1000

In [49]:
a

54690.0

## Scope of Variables

### Global variable

In [68]:
# var = 10
print(var)

75

### Local variables

In [54]:
def foo(inp):
    # local variable
    lc = 30
    print('input parameter : ', inp)
    print('local value : ', lc)
    return lc

In [55]:
foo(45)

input parameter :  45
local value :  30

30

#### Calling local variable outside a function

In [56]:
print(lc)

NameError: name 'lc' is not defined

In [57]:
print(inp)

NameError: name 'inp' is not defined

#### Calling global variable inside a function

In [61]:
def foo2():
    square = var ** 2
    return square

In [62]:
foo2()

100

### Local and global variable with the same name

In [63]:
var = 10 # global variable

In [67]:
var

75

In [64]:
def foo3():
    var = 50 # local variable
    print('inside function var  =', var)

In [65]:
foo3()
print('outside function var =', var)

inside function var  = 50
outside function var = 10

### Creating or manipulating global variable inside a function

In [66]:
var = 15
print('before function call var =', var)

def foo4():
    global var
    var *= 5
    print('inside function var  =', var)

foo4()
print('outside function var =', var)

before function call var = 15
inside function var  = 75
outside function var = 75

## Built in functions

In [ ]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [69]:
help(format)

Help on built-in function format in module builtins:

format(value, format_spec='', /)
    Return value.__format__(format_spec)

    format_spec defaults to the empty string.
    See the Format Specification Mini-Language section of help('FORMATTING') for
    details.

# Lambda Functions

### One Liner Functions.

In [ ]:
# function_name = lambda Parametre : action on Parametre

In [70]:
# WAP to square the number using lambda function

square = lambda x : x ** 2

In [71]:
square(7)

49

In [72]:
adder = lambda x , y : x + y

In [73]:
adder(8,9)

17

In [74]:
adder1 = lambda *args : sum(args)

In [75]:
adder1(1,2,3,4,5,6,7,8,9)

45

In [76]:
# WAP to create a lambda fucntion to find whehther the inpuuted number is EVEN or ODD

eveodd = lambda x : "EVEN" if (x % 2 == 0) else "ODD"

In [77]:
eveodd(99)

'ODD'

## Map function

In [79]:
temp = [22.0, 45.3, 35.4, 40.0, 44.7, 21.5]
for T in temp:
    f = ((9/5) * T) + 32
    print('{:5.1f} in degree C is equivalent to {:6.1f} in degree F.'.format(T,f))

 22.0 in degree C is equivalent to   71.6 in degree F.
 45.3 in degree C is equivalent to  113.5 in degree F.
 35.4 in degree C is equivalent to   95.7 in degree F.
 40.0 in degree C is equivalent to  104.0 in degree F.
 44.7 in degree C is equivalent to  112.5 in degree F.
 21.5 in degree C is equivalent to   70.7 in degree F.

In [ ]:
def Fahrenhite(T):
    return round(((9/5) * T) + 32, 1)

In [ ]:
results = list(map(Fahrenhite, temp))
print('Temp in deg C ', temp)
print('Temp in deg F ', results)

Temp in deg C  [22.0, 45.3, 35.4, 40.0, 44.7, 21.5]
Temp in deg F  [71.6, 113.5, 95.7, 104.0, 112.5, 70.7]

### Using lambda function

In [85]:
results = list(map(lambda T : ((9/5) * T) + 3, temp))

In [86]:
results

[42.6, 84.53999999999999, 66.72, 75.0, 83.46000000000001, 41.7]

In [87]:
results = list(map(lambda T: round(((9/5) * T) + 32, 1), temp))
print('Temp in deg C ', temp)
print('Temp in deg F ', results)

Temp in deg C  [22.0, 45.3, 35.4, 40.0, 44.7, 21.5]
Temp in deg F  [71.6, 113.5, 95.7, 104.0, 112.5, 70.7]

## Filter function

In [ ]:
numbers = [32, 45, 62, 21, 55, 91, 88, 17 ]
odd_numbers = []
for n in numbers:
    if n % 2 :
        odd_numbers.append(n)
print(odd_numbers)

[45, 21, 55, 91, 17]

In [90]:
numbers = [32, 45, 62, 21, 55, 91, 88, 17]

odd_numbers = list(filter(lambda n : n % 2 != 0, numbers))

print(odd_numbers)

[45, 21, 55, 91, 17]

## Reduce function

In [ ]:
numbers = [2,4,6,8,10,12]
tot = 0
for n in numbers:
    tot += n
print('Total :', tot)

Total : 42

In [91]:
from _functools import reduce

numbers = [2,4,6,8,10,12]

result = reduce(lambda x , y : x + y, numbers)

print('Total = ', result)

Total =  42

In [94]:
# Greatest of the number in the list

list1 = [234,45,3,2,55,66,789,1000,22]

Greatest = reduce(lambda x , y : x if x > y else y , list1)

In [95]:
Greatest

1000