### Internal data types in python-(already exsisting)
* String- aggregate
* List - aggregate
* Sets -aggregate
* Dictionaries - aggregate
* Tuples - aggregate
* Integer - scaler
* Float - scaler
* Cmplex - scaler
* Boolean - scaler

In [1]:
x=10

In [2]:
y=56.5

In [3]:
z=True

In [4]:
print(type(x))

<class 'int'>

In [6]:
print(type(z))
print(type(y))

<class 'bool'>
<class 'float'>

In [7]:
## aggregate datatype is combination of scalar data types

In [8]:
a=6+3j
print(type(a))

<class 'complex'>

In [9]:
b='simplilearn'
print(type(b))

<class 'str'>

In [12]:
c= """This is the first session on Python
and we are proceeding well"""
type(c)

str

In [13]:
### string values are always defined within single quotes or double quotes. But when we have a multiline string value,
### we need to enclose it within three single quotes or three double quotes.

#### Tuples are created with multiple data types,created with () or a tuple constructor,are a ordered collection of elements
#### and are immutable.

In [1]:
###Constructors are used to create objects from a class.

In [2]:
t1=(6,7.5,4+6j,False,None)
print(type(t1))

<class 'tuple'>

In [3]:
t1

(6, 7.5, (4+6j), False, None)

In [5]:
t2=tuple((6,7.5,4+6j,False,None))
t2

(6, 7.5, (4+6j), False, None)

In [6]:
t2[-3]

(4+6j)

In [7]:
t2[2]

(4+6j)

In [8]:
###immutable means we cannot change/modify.

In [9]:
t2[2]='text'

TypeError: 'tuple' object does not support item assignment

In [10]:
type(t2)

tuple

In [11]:
t3=(0,1,2,3,1,2,1,1,5)
t3.count(1)   #count returns the frequency of occurance of an element

4

In [13]:
t3.index(3) #the index function returns the index position of an element

3

#### List: lists are an ordered collection of elements (mixed data types),lists are mutable,lists are created with [] brackets or the list constructor.

In [14]:
list0=[6,7.5,4+6j,False,None]
print(list0)
print(type(list0))

[6, 7.5, (4+6j), False, None]
<class 'list'>

In [15]:
list1=list((6,7.5,4+6j,False,None))
print(list1)
print(type(list1))

[6, 7.5, (4+6j), False, None]
<class 'list'>

In [16]:
list1[2]='text'

In [17]:
list1

[6, 7.5, 'text', False, None]

In [18]:
##append-to add an element to a list at the end
list1.append(58)

In [19]:
list1

[6, 7.5, 'text', False, None, 58]

In [20]:
###insert method-to include an element in a specific position
list1.insert(3,'new')

In [21]:
list1

[6, 7.5, 'text', 'new', False, None, 58]

In [22]:
###extend-add multiple values:
list4=[True,70,23.5,8+2j]
list1.extend(list4)

In [23]:
list1

[6, 7.5, 'text', 'new', False, None, 58, True, 70, 23.5, (8+2j)]

In [24]:
list1.count('new')

1

In [25]:
list1.index(None)

5

In [26]:
#Q) create a list with elements 34,78,99,24,12 and sort the elements in descending order

In [1]:
list2=[34,78,99,24,12]

In [2]:
list2

[34, 78, 99, 24, 12]

In [6]:
list2.sort(reverse=True)

In [7]:
list2

[99, 78, 34, 24, 12]

In [27]:
#Q) consider each value as the sales recorded over 5 days in a week. what is the total sales recorded?

In [10]:
total=sum(list2)
total

247

In [28]:
##Q) read the elements of the above list from the end to the beginning

In [35]:
list3 = [34, 78, 99, 24, 12]
print(list3[::-1])
print(list3.reverse())

[12, 24, 99, 78, 34]
None

In [29]:
##Q) remove value 12 from the list using the index position

In [14]:
list3

[34, 78, 99, 24, 12]

In [36]:
list3.pop(0)
# list3.remove(12)
# del list3[3]
list3

[24, 99, 78, 34]

In [30]:
### Q) find the min and max value in the above list

In [18]:
list4 = [34, 78, 99, 24, 12]

In [22]:
print(min(list4))
print(max(list4))

12
99

In [31]:
# Q Create a list with elements 34,78,99,24,12 and sort the elements in descending order.

sales = [34,78,99,24,12]

sales.sort(reverse=True)

print("Sales in Desc order:" , sales)

 

#Q) Consider each value as the sales recorded over 5 days in a week. what is the total sales recorded?

total_sales = sum(sales)

print('Total sales recored for the week is:', total_sales)

 

#Q) read the elements of the above list from the end to the beginning

sales.reverse()

sales

 

 

copy_sales = sales.copy()

print(copy_sales)

print(sales)

copy_sales.remove(12)

print(copy_sales)

 

#Q) find the min & max value in the above list

min_sales = min(sales)

print('Minimum Sale is:', sales)

max_sales = max(sales)

print('Maximum Sale is:', sales)

Sales in Desc order: [99, 78, 34, 24, 12]
Total sales recored for the week is: 247
[12, 24, 34, 78, 99]
[12, 24, 34, 78, 99]
[24, 34, 78, 99]
Minimum Sale is: [12, 24, 34, 78, 99]
Maximum Sale is: [12, 24, 34, 78, 99]