### Internal data types in python-(already exsisting)
* String- aggregate
* List - aggregate
* Sets -aggregate
* Dictionaries - aggregate
* Tuples - aggregate
* Integer - scaler
* Float - scaler
* Cmplex - scaler
* Boolean - scaler

In [1]:
x=10

In [2]:
y=56.5

In [3]:
z=True

In [4]:
print(type(x))

<class 'int'>

In [6]:
print(type(z))
print(type(y))

<class 'bool'>
<class 'float'>

In [7]:
## aggregate datatype is combination of scalar data types

In [8]:
a=6+3j
print(type(a))

<class 'complex'>

In [9]:
b='simplilearn'
print(type(b))

<class 'str'>

In [12]:
c= """This is the first session on Python
and we are proceeding well"""
type(c)

str

In [13]:
### string values are always defined within single quotes or double quotes. But when we have a multiline string value,
### we need to enclose it within three single quotes or three double quotes.

#### Tuples are created with multiple data types,created with () or a tuple constructor,are a ordered collection of elements
#### and are immutable.

In [1]:
###Constructors are used to create objects from a class.

In [2]:
t1=(6,7.5,4+6j,False,None)
print(type(t1))

<class 'tuple'>

In [3]:
t1

(6, 7.5, (4+6j), False, None)

In [5]:
t2=tuple((6,7.5,4+6j,False,None))
t2

(6, 7.5, (4+6j), False, None)

In [6]:
t2[-3]

(4+6j)

In [7]:
t2[2]

(4+6j)

In [8]:
###immutable means we cannot change/modify.

In [9]:
t2[2]='text'

TypeError: 'tuple' object does not support item assignment

In [10]:
type(t2)

tuple

In [11]:
t3=(0,1,2,3,1,2,1,1,5)
t3.count(1)   #count returns the frequency of occurance of an element

4

In [13]:
t3.index(3) #the index function returns the index position of an element

3

#### List: lists are an ordered collection of elements (mixed data types),lists are mutable,lists are created with [] brackets or the list constructor.

In [14]:
list0=[6,7.5,4+6j,False,None]
print(list0)
print(type(list0))

[6, 7.5, (4+6j), False, None]
<class 'list'>

In [15]:
list1=list((6,7.5,4+6j,False,None))
print(list1)
print(type(list1))

[6, 7.5, (4+6j), False, None]
<class 'list'>

In [16]:
list1[2]='text'

In [17]:
list1

[6, 7.5, 'text', False, None]

In [18]:
##append-to add an element to a list at the end
list1.append(58)

In [19]:
list1

[6, 7.5, 'text', False, None, 58]

In [20]:
###insert method-to include an element in a specific position
list1.insert(3,'new')

In [21]:
list1

[6, 7.5, 'text', 'new', False, None, 58]

In [22]:
###extend-add multiple values:
list4=[True,70,23.5,8+2j]
list1.extend(list4)

In [23]:
list1

[6, 7.5, 'text', 'new', False, None, 58, True, 70, 23.5, (8+2j)]

In [24]:
list1.count('new')

1

In [25]:
list1.index(None)

5

In [26]:
#Q) create a list with elements 34,78,99,24,12 and sort the elements in descending order

In [27]:
#Q) consider each value as the sales recorded over 5 days in a week. what is the total sales recorded?

In [28]:
##Q) read the elements of the above list from the end to the beginning

In [29]:
##Q) remove value 12 from the list using the index position

In [30]:
### Q) find the min and max value in the above list

In [13]:
# Q Create a list with elements 34,78,99,24,12 and sort the elements in descending order.
sales = [34,78,99,24,12]
sales.sort(reverse=True)
print("Sales in Desc order:" , sales)

#Q) Consider each value as the sales recorded over 5 days in a week. what is the total sales recorded?
total_sales = sum(sales)
print('Total sales recored for the week is:', total_sales)

#Q) read the elements of the above list from the end to the beginning
sales.reverse()
sales

##Q) remove value 12 from the list using the index position
sales.remove(12)
print(sales)

#Q) find the min & max value in the above list
min_sales = min(sales)
print('Minimum Sale is:', min_sales)
max_sales = max(sales)
print('Maximum Sale is:', max_sales)

Sales in Desc order: [99, 78, 34, 24, 12]
Total sales recored for the week is: 247
[24, 34, 78, 99]
Minimum Sale is: 24
Maximum Sale is: 99

In [4]:
sales2 =[34,78,99,24,12]
sales2.sort(reverse=True)
sales2

[99, 78, 34, 24, 12]

In [7]:
#Q) read the elements of the above list from the end to the beginning
sales

[12, 24, 34, 78, 99]

In [9]:
sales[::-1]   #2nd method

[99, 78, 34, 24, 12]

In [10]:
##Q) remove value 12 from the list using the index position
print(sales)

[12, 24, 34, 78, 99]

In [11]:
#pop method-remove element from a list using the index position
sales.pop(0)

12

In [12]:
sales

[24, 34, 78, 99]

In [14]:
sales

[24, 34, 78, 99]

In [15]:
res_min=min(sales)
res_min

24

### Sets: unordered collection of elements,supports mixed datatypes,does not allow duplicates,can be created with the curly brackets or the set function,mutable.only frozensets are immutable.

In [16]:
set1={20,13.5,True,(4,5),4+2j,None,1}
print(set1)

{True, (4, 5), 20, (4+2j), 13.5, None}

In [17]:
set2=set([20,13.5,True,(4,5),4+2j,None,20])
set2

{(4+2j), (4, 5), 13.5, 20, None, True}

In [18]:
print(type(set2))

<class 'set'>

In [19]:
##add an element to set1
set1.add(100)

In [20]:
set1

{(4+2j), (4, 5), 100, 13.5, 20, None, True}

In [21]:
set1.discard(4+2j)

In [22]:
set1

{(4, 5), 100, 13.5, 20, None, True}

#### Dictionaries contain elements,where each element is a  key:value pair. Keys are immutable,while values are mutable. Dictionaries support mixed datatypes,are created with {} brackets or the dict constructor.

In [17]:
dict1={'summer':'mangoes',3:'three',7:'Bond',10875:'simplilearn'}

In [18]:
dict1.keys()

dict_keys(['summer', 3, 7, 10875])

In [19]:
dict1.values()

dict_values(['mangoes', 'three', 'Bond', 'simplilearn'])

In [20]:
dict1[10875]

'simplilearn'

In [21]:
###deleing a key from the dict object
del dict1[7]

In [22]:
dict1

{'summer': 'mangoes', 3: 'three', 10875: 'simplilearn'}

In [23]:
dict1['summer']='icecream'

In [24]:
dict1

{'summer': 'icecream', 3: 'three', 10875: 'simplilearn'}

In [25]:
### keys are immutable and can never be modified

In [27]:
x=16

if (x<15):
    print('x is less than 15')
else:
    print('if statement is false')

if statement is false

In [29]:
a=10

if(a==20):
    print('a is twenty')
elif(a==15):
    print('a is fifteen')
elif(a>15):
    print('a is greater than 15')
else:
    print('none of the above conditions are true')

none of the above conditions are true

In [33]:
a=10

if(a==20):
    print('a is twenty')
elif(a==15):
    print('a is fifteen')
elif(a>15):
    print('a is greater than 15')


    
print('none of the above conditions are true')

none of the above conditions are true

In [34]:
b=[20,34,56,78,12]

In [35]:
for obj in b:
    print(obj)

20
34
56
78
12

In [36]:
for j in range(5,16):
    print(j)

5
6
7
8
9
10
11
12
13
14
15

In [40]:
print(list(range(5,16)))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [41]:
y=7
while(y<15):
    if y>5:
        print(y)
        y=y+1

7
8
9
10
11
12
13
14

In [42]:
### There are 2 loop control statements-break and continue

In [43]:
b=[20,34,56,78,12]

In [47]:
for rahul in b:
    if rahul ==78:
        break
    print(rahul)

20
34
56

In [49]:
for i in 'simplilearn':
    if i=='p' or i=='e':
        continue
    print(i)

s
i
m
l
i
l
a
r
n

In [50]:
d= 1
while(d<25):
    print(d)
    d=d+5

1
6
11
16
21

In [1]:
##Q) get the unique items from the below sets:
#set1={10,2030,40,50}
#set2={30,40,50,60,70}

In [51]:
set1={10,20,30,40,50}
set2={30,40,50,60,70}
set1.union(set2)

{10, 20, 30, 40, 50, 60, 70}

In [56]:
set1.add(89)

In [57]:
set1

{10, 20, 30, 40, 50, 89}

In [58]:
set1.add((56,78,12))

In [59]:
set1

{(56, 78, 12), 10, 20, 30, 40, 50, 89}

In [60]:
set1.update((56,78,12))

In [61]:
set1

{(56, 78, 12), 10, 12, 20, 30, 40, 50, 56, 78, 89}

In [2]:
#Q)get the key of the min value from the below dictionary:
#test_dict={'Maths':77,'English':88,'Economics':92}

In [52]:
test_dict={'Maths':77,'English':88,'Economics':92}
test_dict
min_value = min(test_dict, key=test_dict.get)
min_value

'Maths'

In [3]:
##Q) create a dictionary with key value (1,python) and (2,session) and (3,dict(a:welcome b:to c:python))

In [53]:
dict1 = {1:'python',2:'session',3:{'a':'welcome','b':'to','c':'python'}}
print(dict1)

{1: 'python', 2: 'session', 3: {'a': 'welcome', 'b': 'to', 'c': 'python'}}

In [4]:
##Q) access the value 'to' from the nested dictionary above.

In [54]:
dict1[3]

{'a': 'welcome', 'b': 'to', 'c': 'python'}

In [55]:
dict1[3]['b']

'to'

In [5]:
###Q) add this dict5={'my':'10','name':20,'is':30,'python':40} to dict1 created above.

In [62]:
dict5={'my':'10','name':20,'is':30,'python':40}
dict1.update(dict5)
dict1

{1: 'python',
 2: 'session',
 3: {'a': 'welcome', 'b': 'to', 'c': 'python'},
 'my': '10',
 'name': 20,
 'is': 30,
 'python': 40}

In [6]:
###Q) remove the last key-value pair from the above dict you created.

In [64]:
#del dict1['python'] #the method popitem will remove the last element from the object.
#dict1

dict1.popitem()
print(dict1)

{1: 'python', 2: 'session', 3: {'a': 'welcome', 'b': 'to', 'c': 'python'}, 'my': '10', 'name': 20}

In [7]:
###Q)check if dict1 has a key called 'summer'

In [70]:
if 'summer' in dict1:
    print('key called summer is available')
else:
    print('key not found')

key not found

In [65]:
#in operator will help us search for a value in a collection of values.
list1=['red','blue','green','yellow','magenta']
'pink' in list1

False

In [66]:
'green' in list1

True

In [67]:
'summer' in dict1

False

In [69]:
'name' in dict1

True

#### We request user input using the input() function. these inputs are by default stored as string values,so before performing and numercal operations,we need to convert it to an integer.

In [8]:
###Python is an interpreted language and does a line by line execution.if there is an error in one line,
###the next line will not be executed. 
### The condition should be TRUE for the execution to happen.

In [9]:
###Q) use the input function and check with the number entered by a user is odd or even.

In [74]:
value=int(input('Enter your value:'))

if value%2==0:
    print('number is even')
else:
    print('number is odd')

Enter your value:6
number is even

In [10]:
###Q) use the input function to check if a number entered by an user is a multiple of 6,then print 'yes' otherwise
### print 'no'

In [2]:
number = int(input("Enter a number: "))
if number%6 == 0:
    print("Number is multiple of 6")
else:
    print("Number is not multiple of 6")

Enter a number: 41
Number is not multiple of 6

In [11]:
####Q) write a program to print the first 10 even numbers---hint: use a for loop,and a while loop both.

In [3]:
for i in range(1,11):
        print (i*2)

2
4
6
8
10
12
14
16
18
20

In [4]:
for i in range(1,21):
    while(i%2==0):
        print(i)
        i=i+1

2
4
6
8
10
12
14
16
18
20

In [ ]:
num1 = 2
while num1 <= 20:
        print(num1)
        num1 += 2
print("10 even numbers using while loop")

In [12]:
####Q) print the numbers you get in the reverse order as well.

In [ ]:
#while loop for reverse order
num = 20
while num >= 2:
    print(num)
    num -= 2

In [13]:
###Q) loop through number 100-500 (both included) and check which numbers are divisible by 11 but not divisible by 3.

In [5]:
###Q) loop through number 100-500 (both included) and check which numbers are divisible by 11 but not divisible by 3.
for i in range(100,501):
    if (i%11 == 0) & (i%3 != 0):
        print(f"{i} is divisble by 11 and not by 3")

110 is divisble by 11 and not by 3
121 is divisble by 11 and not by 3
143 is divisble by 11 and not by 3
154 is divisble by 11 and not by 3
176 is divisble by 11 and not by 3
187 is divisble by 11 and not by 3
209 is divisble by 11 and not by 3
220 is divisble by 11 and not by 3
242 is divisble by 11 and not by 3
253 is divisble by 11 and not by 3
275 is divisble by 11 and not by 3
286 is divisble by 11 and not by 3
308 is divisble by 11 and not by 3
319 is divisble by 11 and not by 3
341 is divisble by 11 and not by 3
352 is divisble by 11 and not by 3
374 is divisble by 11 and not by 3
385 is divisble by 11 and not by 3
407 is divisble by 11 and not by 3
418 is divisble by 11 and not by 3
440 is divisble by 11 and not by 3
451 is divisble by 11 and not by 3
473 is divisble by 11 and not by 3
484 is divisble by 11 and not by 3

In [14]:
####Q) write a program to accept percentage from a user and display the grade according to the marks:
##### marks>90----grade A
##### marks>80 and marks<=90-----grade B
##### marks>=60 and marks<=80----grade C
#####marks<60 -------------------grade D

In [6]:
Marks = int(input("Enter the obtained marks out of 100: "))
if Marks>90:
    print("Grade A")
elif (Marks > 80) & (Marks <=90):
    print("Grade B")
elif (Marks>=60) & (Marks<=80):
    print("Grade C")
elif Marks<60:
    print("Grade D")

Enter the obtained marks out of 100: 56
Grade D

In [15]:
####Q) Tuple1=(1,2,('pop','rock'),(3,4),('mangoes',(1,2)))

#### slice out 'rock'

In [7]:
Tuple1=(1,2,('pop','rock'),(3,4),('mangoes',(1,2)))
Tuple1[2][1]

'rock'

#### Functions:

In [8]:
def firstfun(a,b,c):
    print(a+b+c)

In [9]:
firstfun(6,2,5) #custom function

13

In [10]:
firstfun(9,5)

TypeError: firstfun() missing 1 required positional argument: 'c'

In [12]:
list=[6,2,5]

In [13]:
sum(list) #inbuilt function

13

In [14]:
def add_numbers(a,b,c):
    m=a+b
    n=b+c
    p=a+c
    print(m,n,p)

In [15]:
add_numbers(8,3,9)

11 12 17

In [16]:
###Can we create a function without arguments?

In [17]:
def todays_function():
    print('function without arguments')

In [18]:
todays_function()

function without arguments

In [19]:
todays_function(9)

TypeError: todays_function() takes 0 positional arguments but 1 was given

In [20]:
def second_function(xyz):
    print(xyz+" "+"session")

In [22]:
second_function('python')

python session

### if the number of arguments we want to pass is not exactly known,we add a * before the parameter list,this is called *args

In [25]:
def associated_products(*x):
    print('The most popular item is '+x[4])

In [26]:
associated_products('bread','butter','chocolate','tacos','toothbrush','toothpaste','shampoo','serum','highlighter','clips')

The most popular item is toothbrush

### we include default parameters in the function definition

In [27]:
def fourth_function(snack='chocolate'):
    print('my favorite snack is '+snack)

In [28]:
fourth_function('vada pav')

my favorite snack is vada pav

In [29]:
fourth_function('bhel')

my favorite snack is bhel

In [30]:
fourth_function()

my favorite snack is chocolate

##### passing an entire list as parameters:

In [34]:
def fifth_function(collection):
    for x in collection:
        print('tasty '+x)

In [35]:
food=['vada pav','tacos','rolls','wraps']

In [36]:
fifth_function(food)

tasty vada pav
tasty tacos
tasty rolls
tasty wraps

##### Return statement is used to return a specific value:

In [37]:
def sixth_function(obj):
    return 10*obj

In [38]:
sixth_function(7)

70

##### pass statement returns an empty custom function:

In [39]:
def seventh_function():
    pass

In [40]:
seventh_function()

##### Positional arguments:

In [44]:
def welcome(name,surname):
    print(f"Hi,{name} {surname}!")

In [45]:
welcome('Bit','Madhu')

Hi,Bit Madhu!

#### keyword arguments:

In [47]:
welcome(surname='Bit',name='Madhu')

Hi,Madhu Bit!

In [48]:
welcome(name='Madhu',surname='Bit')

Hi,Madhu Bit!

##### if we want to pass a variable number of keywords to a function we call it **kwargs

In [51]:
def my_function(**cartoon):
    print('the cartoon name is '+cartoon['human'])

In [52]:
my_function(name='peppa',human='Masha',grade='Mickey',school='Donald',character='Roma')

the cartoon name is Masha

In [53]:
greet(surname='Bit',name='Madhu')

def greet(name,surname):
    print(f"Hi,{name} {surname}!")

NameError: name 'greet' is not defined

In [54]:
### The function definition should precede the function call.

#### lambda function is an anonymous function.it doesnot have reusability as it lacks a name. It is created in a single line,and no matter how many arguments we pass,it will always return a single value.

In [57]:
z=lambda x,y,w:x*y-w   #lambda arguments:expression

In [58]:
z(6,3,5)

13

In [59]:
#comparison:
def multi(m):
    return m*6

In [60]:
multi(6)

36

In [61]:
s=lambda y:y*6

In [62]:
s(6)

36

In [63]:
#Q)You have a list [67,22,90,13,19,18]. use a lambda function to find out the odd numbers in this list

In [1]:
list2=[67,22,90,13,19,18]
odd_numbers=list(filter(lambda x:(x%2!=0),list2))
print(odd_numbers)

[67, 13, 19]

In [64]:
#Q) create a list of values which will be the id of students. get user input and check if the number is present in the list.
## if present print 'student present' or else print 'student absent'

In [4]:

def id_check(id):
    x=[30,67,12,89,54,88]
    
    if id in x:
        print("student present")
    else:
        print("student absent")
id=int(input('enter id here:'))
id_check(id)

enter id here:75
student absent

In [65]:
###Q) find the cube of each number in the list using the lambda function

In [5]:

list3=[2,3,1,2,4]
cube = list(map(lambda x:x**3,list3))
cube

[8, 27, 1, 8, 64]