### Internal data types in python-(already exsisting)
* String- aggregate
* List - aggregate
* Sets -aggregate
* Dictionaries - aggregate
* Tuples - aggregate
* Integer - scaler
* Float - scaler
* Cmplex - scaler
* Boolean - scaler

In [1]:
x=10

In [2]:
y=56.5

In [3]:
z=True

In [4]:
print(type(x))

<class 'int'>

In [6]:
print(type(z))
print(type(y))

<class 'bool'>
<class 'float'>

In [7]:
## aggregate datatype is combination of scalar data types

In [8]:
a=6+3j
print(type(a))

<class 'complex'>

In [9]:
b='simplilearn'
print(type(b))

<class 'str'>

In [12]:
c= """This is the first session on Python
and we are proceeding well"""
type(c)

str

In [13]:
### string values are always defined within single quotes or double quotes. But when we have a multiline string value,
### we need to enclose it within three single quotes or three double quotes.

#### Tuples are created with multiple data types,created with () or a tuple constructor,are a ordered collection of elements
#### and are immutable.